.btn-holder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 48px;
}

.btn {
  background-color: rgb(91, 76, 167);
  color: white;
  padding: 16px 60px;
  margin: 12px 0px;
  border-radius: 4px;
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(49, 42, 99);
  color: white;
  padding: 16px 60px;
  margin: 12px 0px;
  border-radius: 4px;
}

.btn:active {
  background-color: rgb(49, 42, 99);
  color: white;
  padding: 8px 16px;
  margin: 12px 0px;
  border-radius: 20px;
}
